.row{
    background-color: rgba(0, 242, 255, 0.899);
}
.table{
    padding: 3em;
    font-size: 30px;
    color: rgb(27, 136, 231);
}
.messages{
    text-align: center;
    padding-top: 50%;
    font-size: 30px;
    color: #3194f1;
}