*{
    margin: 0;
}
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #f2f6f7;
    
  }
  
  .bm-burger-bars-hover {
    background: #34337e;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  .bm-cross {
    background: #090006;
  }
  

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  .bm-menu {
    background: #58C9E2;
    padding: 2.5em 2em 0;
    font-size: 1.15em;
  }
  .avatar{
    width: 90px;
  }
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.6em;
  }
  
  /* Individual item */
  .bm-item {
    display: block;
    padding: 1em;
  }
  .hr{
    color: #34337e;
  }
  
  .bm-overlay {
    background: rgba(20, 153, 215, 0.3);
  }
.bm-item {
    display: flex;
    font-size: 25px;
    color: #f0f0f0;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #ffffff;
    display:list-item;
  }